<div>
  <form [formGroup]="loginForm">
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" placeholder="Type email">
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password" placeholder="Type password">
    </div>
    <button type="submit" [disabled]="!loginForm.valid" (click)="userLogin()">Submit</button>
  </form>
</div>
